@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.page-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  font-size: 1px;
  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 9px 15px 8px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}

.button-add {
  background: #82B3D3;
}

.button-fav {
  background: #7DB54F;
}

.page-header {
  display: flex;
  padding: 0 70px;
}

.sedona-logo {
  width: 139px;
  margin-right: 53px;
}

.sedona-logo-image {
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  width: 1060px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
}

.navigation-link {
  display: block;
  position: relative;
  padding: 20px 17px 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #756257;
  width: 70%;
  bottom: 0;
  left: 15%;
}

.navigation-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-width: 264px;
  max-width: 348px;
  margin-left: auto;
}

.navigation-tool-button {
  margin-left: auto;
}

.navigation-tool-link {
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  padding: 33px 21px 32px;
}

.navigation-tool-search {
  background: url(../images/icons/menu-search.svg) no-repeat center;
}

.navigation-tool-favorite {
  position: relative;
  background: url(../images/icons/menu-favorite.svg) no-repeat center;
}

.favorite-count {
  position: absolute;
  top: 5px;
  right: -2px;
  background: #7DB54F;
  border-radius: 10px;
  padding: 3px 4px;

  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  color: #ffffff;
  text-align: center;
}

.navigation-button {
  padding: 9px 34px 8px;
}

.welcome-wrapper {
  position: relative;
  width: 100%;
  padding-top: 51px;
  min-height: 434px;
  background: #6b869d url(../images/backgrounds/background-welcome.jpg) no-repeat;
  background-size: 100% auto;
}

.welcome-wrapper::after {
  content: "";
  position: absolute;
  background: url(../images/backgrounds/background-divider.svg) no-repeat;
  width: 1200px;
  height: 57px;
  bottom: 0;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.main-title {
  margin: 0;
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-text {
  margin: 29px 0 0;
  width: 700px;
  text-align: center;
  color: #333333;
}

.main-text-white {
  color: #ffffff;
}

.welcome-title {
  margin-top: 63px;
}

.welcome-text {
  margin-top: 31px;
}

.advantages {
  margin-top: 90px;
  background-color: #f0f5f9;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-sublist {
  display: flex;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.advantages-wrapper,
.advantages-sublist-item,
.advantages-item:nth-child(n+3) {
  box-sizing: border-box;
  width: 400px;
  min-height: 384px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 92px 85px 62px;
}

.advantages-item:nth-child(n+3) {
  padding-top: 103px;
}

.advantages-sublist-item {
  position: relative;
  padding: 184px 85px 49px;
}

.advantages-sublist-item::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  top: 81px;
  left: 163px;
}

.advantages-sublist-housing::before {
  background: url(../images/icons/advantages-home.svg) no-repeat;
}

.advantages-sublist-food::before {
  background: url(../images/icons/advantages-food.svg) no-repeat;
}

.advantages-sublist-souvenirs::before {
  background: url(../images/icons/advantages-souvenir.svg) no-repeat;
  left: 168px;
}

.advantages-img-swap {
  order: -1;
}

.advantages-item:nth-child(-n+2) {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-sublist-title {
  color: #000000;
}

.advantages-sublist-desc {
  color: #333333;
}

.advantages-item:nth-child(n+3):nth-child(even) {
  background-color: #e6f0f6;
}

.advantages-sublist {
  background-color: #ffffff;
}

.advantages-sublist-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.advantages-title,
.advantages-sublist-title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-desc,
.advantages-sublist-desc,
.advantages-number {
  margin: 0 0 30px;
  display: block;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 91px 250px 93px;
}

.hotel-search-button {
  margin-top: 56px;
  min-width: 574px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  box-sizing: border-box;
  width: 100%;
  padding: 94px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-index {
  color: #FFFFFF;
  background: #496d82 url(../images/backgrounds/background-subscribe.jpg) no-repeat;
  background-size: 100% auto;
}

.subscribe-form {
  margin-top: 46px;
}

.subscribe-button {
  width: 200px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0px 10px 10px 0px;
}

.catalog-header {
  width: 100%;
  box-sizing: border-box;
  padding: 35px 70px 70px;
  min-height: 403px;
  background: #4b5f74 url(../images/backgrounds/background-filter.jpg) no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.catalog-header-title {
  margin: 0 0 10px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs-item + .breadcrumbs-item {
  position: relative;
  margin-left: 24px;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 8px;
  background: url(../images/icons/breadcrumbs-arrow.svg) no-repeat center;
  top: 7px;
  left: -15px;
}

.breadcrumbs-link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-main {
  margin-top: auto;
  width: 12px;
  height: 12px;
  padding: 4px 2px;
  background: url(../images/icons/breadcrumbs-home.svg) no-repeat center;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-button {
  min-width: 160px;
  height: 48px;
}

.catalog-filter-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.results {
  width: 1056px;
  margin: 0 auto;
  padding: 62px 0 25px;
}

.results-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}

.results-title {
  width: 338px;
}

.results-select {
  width: 290px;
  margin-left: 191px;
}

.sort-wrapper {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.sort-button {
  display: block;
  width: 44px;
  height: 44px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sort-button:not(:last-child) {
  margin-right: 8px;
}

.sort-button-selected {
  border: 2px solid #000000;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  margin-bottom: 66px;
}

.product-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-decoration: none;
}

.product-card-title {
  margin: 16px 0;
}

.product-card-type,
.product-card-price {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  grid-column: 2 / -1;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 29px;
  border-top: 1px solid #E6E6E6;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 672px;
  padding-bottom: 17px;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
}

.pagination-current {
  color: inherit;
  background-color: #f2f2f2;
}

.quantity {
  display: flex;
  justify-content: space-between;
  width: 386px;
}

.quantity-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.quantity-select {
  width: 160px;
  height: 49px;
}

.page-footer {
  display: flex;
  padding: 45px 70px 30px;
  margin-top: auto;
  align-items: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 284px;
}

.footer-social-link {
  min-width: 14px;
  min-height: 14px;
  padding: 5px 13px;
}

.footer-phone {
  margin: 0;
}

.footer-phone-number {
  margin-left: 94px;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

.footer-copyright {
  margin-left: auto;
}
