@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

.page-container {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  font-size: 1px;
  white-space: nowrap;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  padding: 9px 15px 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #756157;
  border-radius: 4px;
  cursor: pointer;
}

.button-add {
  background: #82B3D3;
}

.button-fav {
  background: #7DB54F;
}

.page-header {
  display: flex;
  padding: 0 70px;
}

.sedona-logo {
  width: 139px;
}

.sedona-logo-image {
  position: absolute;
}

.navigation {
  display: flex;
  width: 1060px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  margin-left: 30px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-tools {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 264px;
  margin-left: auto;
}

.navigation-tool:last-child {
  margin-left: auto;
}

.navigation-tool-link {
  display: block;
  padding: 24px 12px 25px;
}

.navigation-tool-button {
  padding-left: 35px;
  padding-right: 35px;
}

.welcome-wrapper {
  width: 100%;
  min-height: 485px;
  background: #6b869d url(../images/backgrounds/background-welcome.jpg) no-repeat;
  background-size: 100% auto;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.main-title {
  width: 620px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-text {
  width: 700px;
  text-align: center;
  color: #333333;
}

.main-text-bg {
  color: #ffffff;
}

.advantages {
  background-color: #f0f5f9;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-sublist {
  display: flex;
}

.advantages-item {
  width: 400px;
}

.advantages-item:nth-child(-n+2) {
  width: 100%;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-sublist-title {
  color: #000000;
}

.advantages-sublist-desc {
  color: #333333;
}

.advantages-item:nth-child(n+3):nth-child(even) {
  background-color: #e6f0f6;
}

.advantages-sublist {
  background-color: #ffffff;
}

.advantages-sublist-item:nth-child(odd) {
  background-color: #f0f5f9;
}

.advantages-title,
.advantages-sublist-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-desc,
.advantages-sublist-desc,
.advantages-number {
  display: block;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search-button {
  width: 574px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe-index {
  color: #FFFFFF;
  background: #496d82 url(../images/backgrounds/background-subscribe.jpg) no-repeat;
  background-size: 100% auto;
}

.subscribe-button {
  width: 200px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.catalog-header {
  width: 100%;
  min-height: 403px;
  background: #4b5f74 url(../images/backgrounds/background-filter.jpg) no-repeat;
  background-size: 100% auto;
  color: #FFFFFF;
}

.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-button {
  width: 160px;
  height: 48px;
}

.catalog-filter-reset {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 16px;
  line-height: 20px;
  color: inherit;
}

.results {
  width: 1056px;
  margin: 0 auto;
}

.results-wrapper {
  display: flex;
  justify-content: space-between;
}

.results-title {
  width: 338px;
}

.results-select {
  width: 290px;
}

.sort-button-selected {
  border: 2px solid #000000;
  border-radius: 4px;
}

.product-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: inherit;
  text-decoration: none;
}

.product-card-type,
.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-rating {
  font-size: 16px;
  line-height: 20px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.pagination-current {
  color: inherit;
  background-color: #f2f2f2;
}

.quantity {
  width: 386px;
}

.quantity-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.page-footer {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  justify-content: space-around;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}
