@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Verdana", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  object-fit: contain;
}
